body {
    font-family: Microsoft JhengHei, EUDC, Helvetica, Arial, sans-serif;
    font-weight: 400;
    /*    font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-dark;
    
    padding: 0 !important; /* bootstrap在鬧 */
    
    background: linear-gradient(
        to right bottom,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url(img/work.jpg);

}

.main-container {
    width: 100%;
    min-height: 100vh;
}

/* custom */
.glyphicon-chevron-left:before {
    content: "\e079";
}

.glyphicon-chevron-right:before {
    content: "\e080";
}

/* msgBar */
#footer-msgbar {
    position:fixed; 
    z-index:103;
    bottom:0; 
    left:0;
    padding:0;
    border-top:0px solid #444;           
}

/* modal fade */
.eapp-cover {
    @include filter(blur, 5px);
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 3.5rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    &--sub {
        display: block;
        font-style: 2rem;
        font-weight: 400;
        letter-spacing: 1.75rem;

        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

}
